<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. All rights reserved.</span>
    <span class="footer__copyright"><a href="http://martinsiele.ghost.io" title="MartinSiele">MartinSiele</a> by <a href="http://martinsiele.ghost.io" title="MartinSiele">Martin Siele</a></span>
    <span class="footer__copyright">Proudly published with <a href="http://twitter.com/martinsiele" title="SieleOnTwitter">Siele</a></span>
</footer>
